<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
           <p> Hi {{name}}! We didn't see you a while ! </p>

        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                To come back to our platform please click below
            </p>
            <a href="{{frontUrl}}/"> RESTORE PASSWORD </a>
        </td>
    </tr>
</table>
